#toolTip{
   border:1px solid #CCC;
   width:auto;
   position:absolute;
   visibility: hidden;
   overflow: hidden;
  	font-family: Tahoma,"ËÎÌå";
	font-size: 16px;
	font-weight: normal;
   background: #055584;
   color: #c0e0f2;
}

#toolTip div {
   margin:0px;
   padding:3px 6px;   
}

