<script>
function city_selected()
{
 document.getElementById("city_label").innerText=document.getElementById("select_city").value;
}
</script>

<h1>限行城市</h1>
<p>
  <label id = "city_label">请选择</label>
  <select id="select_city" name="city_list" onchange="city_selected()">
    <% @cities.each do |city_hash| %>
      <option value=  <%=city_hash["city"]%>> <%=city_hash["city_name"]%></option>
    <% end %>
  </select>
</p>
