	<%= form_tag({:action=>"import"}, method: "post",:multipart=>true) do%>
<label for = "inputMainData"> 限行描述数据：</label>
<input type="file" name="fileMain" id = "inputMainData">
<!--<p class = "instructions"> xlsx文件</p> -->
<input type="submit" value ="上传">

<% end %>
