<% content_for :head do %>
<style type="text/css">
	u {
		text-decoration: underline;
		color: #369;
	}
	u:hover {
		cursor:pointer
	}
</style>
<% end %>
<%item= @xuhao%>
<a id="btn0"></a>
<input id="pageSize" type="text" size="1" maxlength="2" value= <%= (item&&item.length>0) ? item : "-1" %> /><a> 条 </a> <u id="pageSizeSet">设置</u> 
<a id="sjzl"></a> 
<u id="btn1">首页</u>
<u id="btn2">上一页</u>
<u id="btn3">下一页</u>
<u id="btn4">尾页</u> 
<a>转到 </a>
<input id="changePage" type="text" size="1" maxlength="4"/>
<a>页 </a>
<u id="btn5">跳转</u>
