	<%= form_tag({:action=>"resetByFileComplete"}, method: "post",:multipart=>true) do%>
<label for = "inputMainData"> 限行规则数据：</label>
<input type="file" name="file[file]" id = "inputMainData"><br>
<!--<p class = "instructions"> txt文件</p> -->
<input type="submit" value ="上传">

<% end %>