<!DOCTYPE html>
<html>
<head>
	<title>限行规则录入</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
	<header role="banner">
		<!-- START NAVIGATION -->
		<nav role="navigation">
			<ul class="nav">
				 <!--<li><a href="/home/index">首页</a></li>-->
				<li><a href="/home/main">普通限行</a>
					<ul class="submenu">
						<li><a href="/home/main">编辑</a></li>
						<li><a href="/home/edit?id=-1">创建</a></li>
						<li><a href="/home/resetByFile/">导入数据</a></li>
<li><a href="/home/download?file=main">导出数据</a></li>
					</ul>
				</li>
				<li><a href="/home/main/">事件限行</a>
					<ul class="submenu">
						<li><a href="/home/index">敬请期待</a></li>	
					</ul>
				</li>
				<li>链接
					<ul class="submenu">
						<li><a href="http://120.27.94.60:3001/rlquery/index" rel ="external" target ="限行查询">内部查询网站</a></li>
						<li><a href="http://www.xianxingweihao.com/" rel ="external" target ="限行查询">其他查询网站</a></li>
					</ul>
				</li>
			</ul><!-- end ul with class="nav" -->
		</nav>
		<!-- end navigation -->
	</header>

	<main role="main">
	<!--<ol class="breadcrumb">
		<li><a href="/home/index">主页</a></li>
		<li><a href="/products/">Products</a></li>
		<li><a href="/products/phones.html">Phones</a></li>
		<li>The Fone 7.0<sup>TM</sup></li>		
	</ol>-->

	<%= yield %>
</main>

</body>
</html>
